@import '../../../assets/themes/default';
@import '../item.component';

	ul.list-container {
        height: var(--container-height);
        width: 100vw;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: $background-color;

  }


	li.list-item {
    cursor: pointer;
    $list-item-height: min(9vh, 15vw);
		$list-item-font-size: min(4vh, 15vw);
		text-align: left;
		font-size: $list-item-font-size;
		width: 100%;
		height: $list-item-height;
    line-height: $list-item-height;
    padding: 0;
		border: 0px;
		flex-grow: 1;
    display: flex;
		color: $primary-text-color;

    @media (orientation: portrait) {
      border-bottom: 1px solid $divider-color;
    }
		&.selected {
			background-color: $highlight-color;
			color: $primary-selected-text-color;
      span.thumbnail-placeholder {
        transform: scale(1.15);
        transition: transform 0.4s ease;
      }
    }
    &:not(.selected) {
      span.thumbnail-placeholder {
        transform: scale(1); /* Reset the scale to its original size */
        transition: transform 0.3s ease;
      }
		}
    span.thumbnail-placeholder {
      height: calc($list-item-height - 2vh);
      width: calc($list-item-height - 2vh);
      margin: auto 2vw;

    img.thumbnail {
      object-fit: cover;
      height: 100%;
    }
    }

		p.name {
			padding: 0 0 0 10px;
			white-space: nowrap;
			overflow: hidden;
    		text-overflow: ellipsis;
    		max-width: 70vw;
        margin-right: auto;
		}
		p.description {
			font-size: $list-item-font-size;
			color: $secondary-text-color;
  			margin-left: auto;
			padding: 0 10px 0 0;
			white-space: nowrap;
			overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 0px;
    }
		p.icon {
			float: right;
			margin: auto;
			margin-right : 10px;
      margin-left: 0px;
		}
	}
