<ul class="list-container" #container>
  <ng-container *ngIf="loading">
    <li class="list-item selected">
      <ng-container *ngIf="showThumbnails">
      <span class="thumbnail-placeholder animated-background">
      </span>
      </ng-container>
      <p class="name animated-background" style="width: 20vw">&nbsp;</p>
    </li>
  </ng-container>
  <ng-container *ngIf="!loading">
	<li *ngFor="let item of itemList" class="list-item" [class.selected]="item.selected" (click)="selectItem(item)" (mousemove)="mouseEnter(item)">
    <ng-container *ngIf="showThumbnails">
      <span class="thumbnail-placeholder">
        <img class="thumbnail" [src]="item.imageURL"/>
      </span>
    </ng-container>
    <p class="name">{{item.title}}</p>
      	<ng-container *ngIf="item.subtitle.length > 0">
      		<p class="description">{{item.subtitle}}</p>
      	</ng-container>
		<ng-container *ngIf="item.hasChild">
			<p class="icon">›</p>
  		</ng-container>
  </li>
  </ng-container>
</ul>
