<div class="now-playing-container">
  <div class="image-container">
    <div class="album-image">
      <img src="{{ imageUrl }}">
    </div>
  </div>
  <div class="progress-info-container">
    <div class="now-playing-info">
      <h2 *ngIf="playlistIndex !== '1 of 1'" class="now-playing-artist">{{ playlistIndex }}</h2>
      <h1 class="now-playing-title">{{ trackName }}</h1>
      <h2 class="now-playing-artist">{{ artistName }}</h2>
    </div>
    <div class="progress-container">
    <div class="progress-bar" [style.width]="progressBarWidth"></div>
    <div class="time-display">
      <div class="current-time">{{timeElapsed}}</div>
      <div class="duration">{{timeRemaining}}</div>
    </div>
  </div>
  </div>
  <div class="footer-controls">
    <span class="footer-button">{{left_button_label}}</span>
    <span class="footer-button">{{middle_button_label}}</span>
    <span class="footer-button">{{right_button_label}}</span>
  </div>
</div>
