@import '../../assets/themes/default.scss';

.now-playing-container {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  --magic-width: calc(min(45vw, 80vh));
  @media (orientation : portrait) {
    --magic-width: calc(min(95vw, 45vh));
  }


  //--player-font-size: min(4vh, 8vw);
  $horizontal-player-size: calc(101vh);
  height: var(--container-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image-container {
    .album-image {
      width: var(--magic-width);
      height: var(--magic-width);
      margin-top: 4px;
      overflow: hidden;
      perspective: 800px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media (orientation : landscape) {
      margin: auto;
    }
  }

  .progress-info-container {
    text-align: center;
    margin-top: 2vh;
    width: var(--magic-width);
    @media (orientation : landscape) {
      width: 40vw;
      margin: auto auto auto 0;
      text-align: left;
    }
    .now-playing-text {
      .now-playing-title, .now-playing-artist {
        margin: 0.2vh 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        color: $primary-text-color;
        display: block;
      }
      .now-playing-artist {
        color: $secondary-text-color;
        display: block;
      }
    }

    .progress-container {
      margin: 2vh auto;
      width: var(--magic-width);
      height: 1vh;
      background-color: darken(#ffffff, 20%);
      border-radius: 15px;
      @media (orientation : landscape) {
        margin: 2vh 0;
      }
      .progress-bar {
        height: 100%;
        background-color: $primary-active-color;
        transition: width 0.1s ease-in-out;
        border-radius: 15px;
        transform: translateY(-1vh);
      }
      .load-bar {
        height: 100%;
        background-color: #ffffff;
        transition: width 0.1s ease-in-out;
        border-radius: 15px;
      }
        .circle-handle {
          opacity: 0;
          transition: opacity 300ms ease-in-out;
          width: 1vh;
          height: 1vh;
          background-color: $primary-active-color;
          border: .5vh solid darken($primary-selected-text-color, 2%);
          border-radius: 50%;
          transform: translateY(-2.5vh) translateX(-.5vh);
          cursor: pointer;
        }
      &.selected {
        .circle-handle {
          opacity: 1;
      }
      }
    }

    .time-display {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: var(--magic-width);
      //font-size: calc(var(--player-font-size) * 0.6);
      color: $primary-text-color;
      .current-time {
        float: left;
      }
      .duration {
        float: right;
      }
    }

    .controls-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: var(--magic-width);
      color: $secondary-text-color;
      margin: 10vh auto;
      span {
        margin: 0 auto;
        &.selected {
        color: $primary-selected-text-color;
          background-color: $highlight-color;
          }
        i {
          display: flex;
          flex-direction: column;
          &.toggled::after {
            content: '\00b7'; /* Unicode character for a middle dot */
            position: absolute;
            transform: translateY(0.4em) translateX(0.25em);
          }
      }
      }
      @media (orientation : landscape) {
        margin: 10vh 0;
      }
    }
  }

  @media (orientation : landscape) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .image-container {
      margin-right: 2vw;
    }
  }
}
