@import '../../assets/themes/default.scss';

.now-playing-container {
  --magic-width: calc(min(80vw, 50vh));
  --player-font-size: 5vh;
  $horizontal-player-size: calc(120vh);
  height: calc(86vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image-container {
    .album-image {
      width: var(--magic-width);
      height: var(--magic-width);
      margin-top: 4px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media screen and (min-width: $horizontal-player-size) {
      margin: auto;
    }
  }

  .progress-info-container {
    text-align: center;
    margin-top: 2vh;
    width: 80vw;
    @media screen and (min-width: $horizontal-player-size) {
      width: 40vw;
      margin: auto;
      margin-left: 0px;
      text-align: left;
    }
    .now-playing-info {
      .now-playing-title, .now-playing-artist {
        font-size: var(--player-font-size);
        margin: 1vh 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        color: $primary-text-color;
      }
      .now-playing-artist {
        color: $secondary-text-color;
        font-size: calc(var(--player-font-size) * 0.8);
      }
    }

    .progress-container {
      margin: 0 auto;
      width: var(--magic-width);
      height: 1vh;
      background-color: #f2f2f2;
      border-radius: 15px;
    @media screen and (min-width: $horizontal-player-size) {
      margin: 0;
    }
      .progress-bar {
        height: 100%;
        background-color: $highlight-color;
        transition: width 0.1s ease-in-out;
        border-radius: 15px;
      }
    }

    .time-display {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: var(--magic-width);
      font-size: calc(var(--player-font-size) * 0.6);
      color: $primary-text-color;
      .current-time {
        float: left;
      }
      .duration {
        float: right;
      }
    }
  }

  @media screen and (min-width: $horizontal-player-size) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .image-container {
      margin-right: 2vw;
    }
  }
}
