@import '../../assets/themes/default.scss';

#auth {
	text-align: center;
	height: 90vh;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	color : $primary-text-color;
	  h1.code {
		  margin: auto;
		  display: block;
		  color : $primary-selected-text-color;
      font-size: 24vw;
    }
}
