@import '../../assets/themes/default.scss';

#auth {
	text-align: center;
	height: 90vh;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-size: 5vh;
  	color : $primary-text-color;
	div.code {
		font-size: min(60vh, 20vw);
		margin: auto;
		display: block;
		color : $primary-selected-text-color;
	}
}
