    <h2>Login to Jellyfin</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Username:</label>
        <input id="username" type="text" [(ngModel)]="username" name="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" [(ngModel)]="password" name="password">
      </div>
      <button type="submit">Login</button>
    </form>
    <div *ngIf="errorMessage" style="color: red">{{ errorMessage }}</div>