<div class="grid-container" [ngStyle]="{'grid-template-columns': getColumnTemplate()}" (window:resize)="onResize($event)" #container>
  <div *ngFor="let item of itemList" class="grid-item" [ngStyle]="{'width': getColumnWidth()}" [class.selected]="item.selected" (click)="selectItem(item)">
    <div class="card">
      <div class="image">
        <img src="" [src]="getArtistImage(item.id)"/>
      </div>
      <p class="name">{{ item.title }}</p>
      <p class="description">{{ item.subtitle }}</p>
      <!-- Add other card content here as needed -->
    </div>
  </div>
</div>
