<ul class="list-container" #container>
	<li *ngFor="let item of itemList" class="list-item" [class.selected]="item.selected">
		<p class="name">{{item.title}}</p>
      	<ng-container *ngIf="item.subtitle.length > 0">
      		<p class="description">{{item.subtitle}}</p>
      	</ng-container>
		<ng-container *ngIf="item.hasChild">
			<p class="icon">›</p>
  		</ng-container>
  </li>
</ul>
 <div class="footer-controls">
    <button class="footer-button">{{left_button_label}}</button>
    <button class="footer-button">{{middle_button_label}}</button>
    <button class="footer-button">{{right_button_label}}</button>
 </div>