body {
	margin: 0;
	font-family: 'iPod';

	h1 {
		font-size: 1.5em;
		margin: 0.5em 0;
	}

	ul {
		margin:0;
   		padding: 0;
   		text-indent: 0;
	
	li {
		list-style-type: none;
		margin:0;
		span {
			height: 100%;
			display: inline-flex;
			align-items: center;
		}
	}

	p {
		margin: 0;
	}
}

  .footer-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;

    .footer-button {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 5vh;
      color: #333;
      margin: 0 10px;
      cursor: pointer;
    }
  }


  //Icons

      i.icon {
      display: inline-block;
      width: 15px; /* Set the width and height of the logo */
      height: 15px;
      background-size: contain; /* Scale the logo to fit within the width and height of the <i> tag */
      background-repeat: no-repeat; /* Prevent the logo from repeating */
        &.playing {
          background-image : url("/assets/images/playing.png");
        }
        &.paused {
          background-image : url("/assets/images/paused.png");
        }
        &.loading {
          background-image : url("/assets/images/loading.png");
        }
        &.right_arrow_black {
          background-image : url("/assets/images/right_arrow_black.png");
          width: 15px; /* Set the width and height of the logo */
          height: 10px;
          margin: 10px;
        }
        &.right_arrow_white {
          background-image : url("/assets/images/right_arrow_white.png");
          width: 15px; /* Set the width and height of the logo */
          height: 10px;
          margin: 10px;
        }   
      }
}