@font-face {
  font-family: 'iPod';
  src: url('../OfficeCodePro-Light.otf');
}
$background-color: #F9F9F9;
$divider-color : #EEEEEE;
$highlight-color : #0E1D31;
$primary-text-color: #0E1D31;
$primary-selected-text-color: #EE4865;
$secondary-text-color: #0E1D31;
$primary-active-color: #EE4865;
