/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'iPod';
  src: url('../ChicagoFLF.ttf');
}

$background-color: #FFFFFF;
$highlight-color : #2196F3;
$primary-text-color: #333333;
$primary-selected-text-color: #FFFFFF;
$secondary-text-color: #AAAAAA;
$primary-active-color : $highlight-color
