@font-face {
  font-family: 'iPod';
  src: url('../matrix.ttf');
}

$background-color: #333333;
$divider-color : #282828;
$highlight-color : #1DB954;
$primary-text-color: #EEEEEE;
$primary-selected-text-color: #FFFFFF;
$secondary-text-color: #CCCCCC;
$primary-active-color : $highlight-color
