@font-face {
  font-family: 'iPod';
  src: url('../OfficeCodePro-Light.otf');
}
$background-color: #121212;
$divider-color : #282828;
$highlight-color : transparent;
$primary-text-color: #FFFFFF;
$primary-selected-text-color: #1ED760;
$secondary-text-color: #CCCCCC;
$primary-active-color: #1ED760;
